/* heading */
@media (min-width: 1400px) {
  .hero__heading {
    font-size: 3.2rem; /* t r b l */
  }
}

/* Movies Gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: 0.3s linear;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
}



