/* video play button */
@media (max-width: 1300px) {
  .playBut__container {
    width: 200px;
  }
}

/* video pop up */
.modal-content {
  background: transparent !important;
  border: none !important;
}

/* Hero Section */
.hero {
  position: relative;
  height: 75vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

@media (min-width: 1400px) {
  .hero__heading {
    font-size: 3.2rem;
  }
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  z-index: 1;
}

.hero__content {
  z-index: 1;
}

/* .hero__content-width {
  max-width: 540px;
} */

.movie__link:hover {
  background-color: rgba(107, 107, 103, 0.19);
}

.steps {
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps__section-thumbnail {
  height: 240px;
  object-fit: cover;
  margin: 0 auto;
}

.steps__content-width {
  max-width: 456px;
}

.steps--background {
  background-color: #fef8f9;
}

@media (min-width: 544px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .steps__section-thumbnail {
    height: auto;
  }
}

/* Footer */
.border-highlight {
  border-top: 1px solid var(--primary-color-highlight);
}

/* video play button */
.playBut {
  display: inline-block;
  transition: all 0.5s ease;
}

.playBut .triangle {
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #fff;
  transform: translateY(0);
}

.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
  animation: nudge 0.7s ease-in-out;
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
